body {
  background-color: #8d8741;
}
h1 {
  color: black;
}
h3 {
  color: black;
  font-size: 30px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gold;
  border-width: 5px;

}
.more {
  color: black;
}
p {
  color: white;
  font-size: 30px;

}
ul {
  color: white;
  font-size: 25px;
}
tr {
  color: white;
  font-size: 25px;
}
ol {
  color: white;
  font-size: 25px;
}
.circular {
  border-radius: 100%;
}
a {
  color: black;
}
